<%- include('../shared/admin/header') %>
<div class="wrapper">
    <%- include('../shared/admin/navbarTop') %>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><%=title%></h1>
                <!-- <div class="page-header-right">
                    <a class="btn btn-primary" href="#/product.category/add">
                        <i class="fa fa-plus fa-fw"></i>
                        <span>添加品类</span>
                    </a>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="form-wrap col-lg-12">
                <form id="create_topic_form" action="/admin/article/save" method="post">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="name" class="col-md-1 control-label">商品名称</label>
                            <div class="col-md-5">
                                <% if (articles._id) { %>
                                    <input type="text"
                                        class="form-control"
                                        name="article[title]"
                                        id="name"
                                        placeholder="请输入商品名称"
                                        value="<%=articles.title%>" />
                                <% } else { %>
                                    <input type="text"
                                        class="form-control"
                                        name="article[title]"
                                        id="name"
                                        placeholder="请输入商品名称"
                                        value="" />
                                <% } %>
                            </div>
                        </div>
                        <% if(articles._id){%>
                            <input type="hidden" name="article[_id]" value="<%=articles._id%>">
                        <%}%>
                        <div class="form-group">
                            <label for="category" class="col-md-1 control-label">商品名称</label>
                            <div class="col-md-5" data-pp="<%=articles.categoryid%>">
                                <select type="password" id="category" name="article[categoryid]" class="form-control cate-select col-md-5">
                                    <option value="">请选择分类</option>
                                    <% categories.forEach(function(item) {%>
                                        <% if (articles.categoryid) { %>
                                            <option <%- articles.categoryid.toString()==item._id.toString()?selected="selected":''%>  value="<%=item._id%>"><%=item.name%></option>
                                        <% } else { %>
                                            <option value="<%=item._id%>"><%=item.name%></option>
                                        <% } %>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-1 control-label">文章内容</label>
                            <div id="editormd" class="col-md-9">
                                <textarea class="textarea" name="article[content]" style="display: none;"><%=articles.content%></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-5">
                                <button type="submit" class="btn btn-default btn-primary">提交</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../shared/admin/footer') %>
<link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
<script src="//cdn.jsdelivr.net/editor/0.1.0/editor.js"></script>
<script src="//cdn.jsdelivr.net/editor/0.1.0/marked.js"></script>
<script type="text/javascript">
    var editor = new Editor();
    editor.render($('.textarea')[0]);
</script>