<%- include('../shared/header') %>
    <%- include('../shared/navbarTop') %>
        <div id="main" class="container">
            <div class="row">
                <div class="col-md-9" id="content">
                    <div class="panel panel-default">
                        <div class="panel-heading topic_header">
                            <span class="topic_full_title"><%=title%></span>
                            <div class="changes">
                                <span> <%=createAt%></span>
                                <span> <%=contentType%></span>
                                <span> 阅读 <%=article.pv%> 次</span>
                            </div>
                        </div>
                        <div class="panel-body" id="content_main">
                            <%- content %>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading topic_header" id="user_status" <%-user?'user_status=1':''%> >
                            <span><%=comments.length%>条评论</span>
                        </div>
                        <div class="panel-body">
                            <form style="margin-bottom: 20px" class="pl_wrap_main" action="/user/comment" method="post">
                              <div class="pl_image_wrap_main">
                                <img class="media-object" src="http://static.samuredwonder.com/image/user/head/FltDgsSj6K22VHRWQU8xPhzALdl7" width="45" height="45" alt="...">
                              </div>
                              <div class="pl_input_wrap">
                                <input type="hidden" name="comment[article]" value="<%=article._id%>">
                                <%if(user){%>
                                  <input type="hidden" name="comment[from]" value="<%=user._id%>">
                                <%}%>
                                
                                <textarea name="comment[content]" id="textarea"  class="style-scope iron-autogrow-textarea" rows="1" autocomplete="off" required="" maxlength="10000"></textarea>
                                <button type="submit" class="btn btn-primary">提交</button>
                              </div>
                            </form>
                            <ul class="media-list">
                              <% comments.forEach(function(item) {%>
                                <li class="media">
                                  <div class="pull-left">
                                    <a href="#">
                                      <img class="media-object" src="http://static.samuredwonder.com/image/user/head/FltDgsSj6K22VHRWQU8xPhzALdl7" width="45" height="45" alt="...">
                                    </a>
                                  </div>
                                  <div class="media-body">
                                    <h4 class="media-heading"><%=item.from.name%></h4>
                                    <p><%=item.content%></p>
                                    <p><span class="reply2_btn">回复</span></p>
                                    <form class="pl_wrap" action="/user/comment" method="post">
                                      <div class="pl_image_wrap">
                                        <img class="media-object" src="http://static.samuredwonder.com/image/user/head/FltDgsSj6K22VHRWQU8xPhzALdl7" width="45" height="45" alt="...">
                                      </div>
                                      <div class="pl_input_wrap">
                                        <input type="hidden" name="comment[article]" value="<%=article._id%>">
                                        <%if(user){%>
                                          <input type="hidden" name="comment[from]" value="<%=user._id%>">
                                        <%}%>
                                        
                                        <input type="hidden" id="toId" name="comment[tid]" value="<%=item.from._id%>">
                                        <input type="hidden" id="commentId" name="comment[cid]" value="<%=item._id%>">

                                          <textarea id="textarea" name="comment[content]" class="style-scope iron-autogrow-textarea" rows="1" autocomplete="off" required="" maxlength="10000"></textarea>
                                          <button type="submit" class="btn btn-primary">提交</button>
                                      </div>
                                    </form>

                                    <% if(item.reply && item.reply.length > 0){ %>
                                      <% item.reply.forEach(function(reply) {%>
                                        <div class="media">
                                          <div class="pull-left">
                                            <a href="#">
                                              <img class="media-object" src="http://static.samuredwonder.com/image/user/head/FltDgsSj6K22VHRWQU8xPhzALdl7" width="45" height="45" alt="...">
                                            </a>
                                          </div>
                                          <div class="media-body">
                                            <h4 class="media-heading">
                                              <%=reply.from.name%><span class="text-info">&nbsp;reply&nbsp;</span><%=reply.to.name%>
                                            </h4>
                                            <p><%=reply.content%></p>
                                            <p><span class="reply2_btn">回复</span></p>
                                            <form class="pl_wrap" action="/user/comment" method="post">
                                              <div class="pl_image_wrap">
                                                <img class="media-object" src="http://static.samuredwonder.com/image/user/head/FltDgsSj6K22VHRWQU8xPhzALdl7" width="45" height="45" alt="...">
                                              </div>
                                              <div class="pl_input_wrap">
                                                <input type="hidden" name="comment[article]" value="<%=article._id%>">
                                                <%if(user){%>
                                                  <input type="hidden" name="comment[from]" value="<%=user._id%>">
                                                <%}%>
                                                
                                                <input type="hidden" id="toId" name="comment[tid]" value="<%=reply.from._id%>">
                                                <input type="hidden" id="commentId" name="comment[cid]" value="<%=item._id%>">

                                                  <textarea id="textarea" name="comment[content]" class="style-scope iron-autogrow-textarea" rows="1" autocomplete="off" required="" maxlength="10000"></textarea>
                                                  <button type="submit" class="btn btn-primary">提交</button>
                                              </div>
                                            </form>
                                          </div>
                                        </div>
                                      <%})%>
                                    <% } %>

                                  </div>
                                </li>
                              <%})%>
                                
                            </ul>
                            <!-- <ul class="media-list">
                              <li class="media">
                                <div class="pull-left">
                                  <a href="#">
                                    <img class="media-object" src="http://static.samuredwonder.com/image/user/head/FltDgsSj6K22VHRWQU8xPhzALdl7" width="45" height="45" alt="...">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading">Media heading</h4>
                                  <p>hello 你好</p>
                                  <p><span class="reply2_btn">回复</span></p>
                                  <div class="pl_wrap">
                                    <div class="pl_image_wrap">
                                      <img class="media-object" src="http://static.samuredwonder.com/image/user/head/FltDgsSj6K22VHRWQU8xPhzALdl7" width="45" height="45" alt="...">
                                    </div>
                                    <div class="pl_input_wrap">
                                        <textarea id="textarea" class="style-scope iron-autogrow-textarea" rows="1" autocomplete="off" required="" maxlength="10000"></textarea>
                                    </div>
                                  </div>
                                  <div class="media">
                                    <div class="pull-left">
                                      <a href="#">
                                        <img class="media-object" src="http://static.samuredwonder.com/image/user/head/FltDgsSj6K22VHRWQU8xPhzALdl7" width="45" height="45" alt="...">
                                      </a>
                                    </div>
                                    <div class="media-body">
                                      <h4 class="media-heading">Media heading</h4>
                                      <p>hello 你好</p>
                                      <p><span class="reply2_btn">回复</span></p>
                                      <div class="pl_wrap">
                                        <div class="pl_image_wrap">
                                          <img class="media-object" src="http://static.samuredwonder.com/image/user/head/FltDgsSj6K22VHRWQU8xPhzALdl7" width="45" height="45" alt="...">
                                        </div>
                                        <div class="pl_input_wrap">
                                            <textarea id="textarea" class="style-scope iron-autogrow-textarea" rows="1" autocomplete="off" required="" maxlength="10000"></textarea>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                </div>
                              </li>
                              <li class="media">
                                <div class="pull-left">
                                  <a href="#">
                                    <img class="media-object" src="http://static.samuredwonder.com/image/user/head/FltDgsSj6K22VHRWQU8xPhzALdl7" width="45" height="45" alt="...">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <h4 class="media-heading">Media heading</h4>
                                  <p>hello 你好</p>
                                  <p><span class="reply2_btn">回复</span></p>
                                  <div class="pl_wrap">
                                    <div class="pl_image_wrap">
                                      <img class="media-object" src="http://static.samuredwonder.com/image/user/head/FltDgsSj6K22VHRWQU8xPhzALdl7" width="45" height="45" alt="...">
                                    </div>
                                    <div class="pl_input_wrap">
                                        <textarea id="textarea" class="style-scope iron-autogrow-textarea" rows="1" autocomplete="off" required="" maxlength="10000"></textarea>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul> -->
                        </div>
                    </div>


                </div>
                <div class="col-md-3" id="sidebar">
                    <div class="panel panel-default">
                        <div class="panel-heading">最新文章</div>
                        <ul class="list-group">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Morbi leo risus</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../shared/footer') %>